DepartmentStore/.vs/DepartmentStore/FileContentIndex/0c0c412d-c2cd-4ded-9221-5b94939e54cc.vsidx
DepartmentStore/.vs/DepartmentStore/config/applicationhost.config
DepartmentStore/.vs/DepartmentStore/FileContentIndex/a7a3abbc-8520-4234-9249-fad98fa91250.vsidx
DepartmentStore/.vs/DepartmentStore/FileContentIndex/ef02d7f1-6221-4797-a59c-53c8ae992aa7.vsidx
DepartmentStore/.vs/DepartmentStore/FileContentIndex/f71b5eac-755f-4815-9421-ceb82ca8355b.vsidx
