@model APIGateway.Response.MRes_InfoUser;
      <!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-category">Hàng hóa</li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-foods-drinks" aria-expanded="false" aria-controls="ui-foods-drinks">
                <i class="menu-icon mdi mdi-floor-plan"></i>
                <span class="menu-title">Thực phẩm</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-foods-drinks">
                <ul class="nav flex-column" id="categoryTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link toggle-product" id="nav-drinks-tab" href="javascript:void(0)" onclick="HandleTabClick(1, 'nav-drinks-tab',@Model.IdRole)">Nước giải khát</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link toggle-product" id="nav-cakes-tab" href="javascript:void(0)" onclick="HandleTabClick(2, 'nav-cakes-tab',@Model.IdRole)">Bánh</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link toggle-product" id="nav-fruits-tab" href="javascript:void(0)" onclick="HandleTabClick(3, 'nav-fruits-tab',@Model.IdRole)">Trái cây</a>
                    </li>

                </ul>
            </div>
        </li>
        @if (Model.IdRole == "1")
        {
            <li class="nav-item">
                <a class="nav-link" id="nav_import_tab" href="javascript:void(0)" onclick="ActiveTogglePills('nav_import_tab'); ShowContentBatch()">
                    <i class="menu-icon mdi mdi-card-text-outline"></i>
                    <span class="">Nhập kho</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav_export_tab" href="javascript:void(0)" onclick="ActiveTogglePills('nav_export_tab');ShowContentExport()">
                    <i class="menu-icon mdi mdi-card-text-outline"></i>
                    <span class="">Xuất kho</span>
                </a>
            </li>
        }
        <li class="nav-item nav-category">Quản lý cửa hàng</li>
        <li class="nav-item">
            <a class="nav-link" id="nav_branch_tab" href="javascript:void(0)" onclick="ActiveTogglePills('nav_branch_tab'); RenderBranchTable();">
                <i class="menu-icon mdi mdi-card-text-outline"></i>
                <span class="">Chi nhánh</span>
            </a>
        </li>
        @if (Model.IdRole == "1")
        {
            <li class="nav-item nav-category">Quản lý khách hàng</li>
            <li class="nav-item">
                <a class="nav-link" id="nav_customer_tab" href="javascript:void(0)" onclick="ActiveTogglePills('nav_customer_tab');RenderCustomerTable()">
                <i class="menu-icon mdi mdi-card-text-outline"></i>
                <span class="">Khách hàng</span>
            </a>
            </li>
        }
        <li class="nav-item nav-category">pages</li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="~/#auth" aria-expanded="false" aria-controls="auth">
                <i class="menu-icon mdi mdi-account-circle-outline"></i>
                <span class="menu-title">User Pages</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="~/pages/samples/login.html"> Login </a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item nav-category">help</li>
        <li class="nav-item">
            <a class="nav-link" href="~/http://bootstrapdash.com/demo/star-admin2-free/docs/documentation.html">
                <i class="menu-icon mdi mdi-file-document"></i>
                <span class="menu-title">Documentation</span>
            </a>
        </li>
    </ul>
</nav>
<!-- partial -->