@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/controller/productfromuser_index.js" asp-append-version="true"></script>
<div class="card">
    <div class="card-body">
        <input type="file" id="fileInput" accept=".xlsx, .xls" />
        <button id="add_product_by_excel">Import Excel File</button>
    </div>
</div>
<div id="productByIdCategory"></div>
<div id="staff_area"></div>