@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/controller/productfromuser_index.js" asp-append-version="true"></script>

<div id="div_table_product"></div>
<div id="div_table_batch"></div>
<div id="div_table_branch"></div>
<div id="div_table_customer"></div>
<div id="div_table_export"></div>
<div id="div_table_promotion"></div>

<!-- Modal Product -->
<div class="modal fade" id="modal-product" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_title_product"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="add_form_product">
                    <div class="mb-3">
                        <label for="productName" class="form-label">Tên sản phẩm</label>
                        <input type="text" class="form-control" id="productName" required>
                    </div>
                    <div class="mb-3">
                        <label for="productPrice" class="form-label">Giá sản phẩm</label>
                        <input type="number" class="form-control" id="productPrice" required>
                    </div>
                    <div class="mb-3">
                        <label for="categoryId" class="form-label">Danh mục</label>
                        <select class="form-select" id="categoryId" required>
                            <option disabled>Chọn danh mục</option>
                            <option value="1">Nước</option>
                            <option value="2">Bánh</option>
                            <option value="3">Trái cây</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="mainImage" class="form-label">Hình ảnh sản phẩm chính</label>
                        <input type="file" class="form-control" id="mainImage" accept="image/*" required />
                    </div>
                    <div class="mb-3">
                        <label for="secondaryImages" class="form-label">Các hình ảnh mô tả sản phẩm</label>
                        <input type="file" class="form-control" id="secondaryImages" accept="image/*" multiple>
                    </div>
                    <button type="button" id="btn_product" class="btn btn-primary"></button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Modal Branch-->
<div class="modal fade" id="modal_branch" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_title_branch">Thêm chi nhánh</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="add_form_branch">
                    <div class="mb-3">
                        <label for="location" class="form-label">Tên chi nhánh</label>
                        <input type="text" class="form-control" id="location" required>
                    </div>
                    <div class="mb-3">
                        <label for="account" class="form-label">Tài khoản</label>
                        <input type="text" class="form-control" id="account" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Mật khẩu</label>
                        <input type="password" class="form-control" id="password" required>
                    </div>
                    <button type="button" id="btn_branch" class="btn btn-primary"></button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal Detail Branch -->
<div class="modal fade" id="modal_detail_branch" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_title_detail_branch">Product Branch List</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-pills mb-3 d-flex justify-content-evenly" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link nav-detail-branch active" onclick="OnChangeTypeBranchDetail(this, 'product_branch')">Hàng hóa</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link nav-detail-branch" onclick="OnChangeTypeBranchDetail(this, 'staff')">Nhân sự</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link nav-detail-branch" onclick="OnChangeTypeBranchDetail(this, 'invoice')">Hóa đơn</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link nav-detail-branch" onclick="OnChangeTypeBranchDetail(this, 'importProduct')">Nhập hàng</button>
                    </li>
                </ul>
                <div id="div_data_detail_branch"></div>
            </div>
        </div>
    </div>
</div>

<!--Modal Batch-->
<div class="modal fade" id="modal_batch" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_title_batch">Thêm lô hàng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="add_form_batch">
                    <div class="mb-3">
                        <label for="BatchNumber" class="form-label">Số lô hàng</label>
                        <input type="text" class="form-control" id="batchNumber" required>
                    </div>
                    <div class="mb-3">
                        <label for="productId" class="form-label">Loại sản phẩm</label>
                        <select class="form-select" id="productId_batch" required>
                            <option disabled selected>-- Vui lòng chọn sản phẩm --</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="expiryDate" class="form-label">Ngày hết hạn</label>
                        <input type="date" class="form-control" id="expiryDate" required>
                    </div>
                    <div class="mb-3">
                        <label for="initQuantity" class="form-label">Số lượng ban đầu</label>
                        <input type="number" class="form-control" id="initQuantity" required>
                    </div>
                    <div class="mb-3">
                        <label for="importDate" class="form-label">Ngày nhập</label>
                        <input type="datetime" class="form-control" id="importDate" required>
                    </div>
                    <div class="mb-3">
                        <label for="receiver_batch" class="form-label">Người nhận</label>
                        <input type="text" class="form-control" id="receiver_batch" required>
                    </div>
                    <button type="button" id="btn_batch" class="btn btn-primary"></button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Modal Detail Customer-->
<div class="modal fade" id="modal_customer" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chi tiết thông tin khách hàng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="fullName" class="form-label">Họ tên</label>
                    <input type="text" class="form-control" id="fullName" readonly>
                </div>
                <div class="mb-3">
                    <label for="phoneNumber" class="form-label">Số điện thoại</label>
                    <input type="text" class="form-control" id="phoneNumber" readonly>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" readonly>
                </div>
                <div class="mb-3">
                    <label for="dateOfBirth" class="form-label">Ngày sinh</label>
                    <input type="date" class="form-control" id="dateOfBirth" readonly>
                </div>
                <div class="mb-3">
                    <label for="gender" class="form-label">Giới tính</label>
                    <input type="text" class="form-control" id="gender" readonly>
                </div>
                <div class="mb-3">
                    <label for="updatedAt" class="form-label">Ngày cập nhật</label>
                    <input type="datetime" class="form-control" id="updatedAt" readonly>
                </div>
                <div class="mb-3">
                    <label for="loginTime" class="form-label">Thời gian đăng nhập</label>
                    <input type="datetime" class="form-control" id="loginTime" readonly>
                </div>
                <div class="mb-3">
                    <label for="logoutTime" class="form-label">Thời gian đăng xuất</label>
                    <input type="datetime" class="form-control" id="logoutTime" readonly>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Export Modal-->
<div class="modal fade" id="modal_export" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_title_export"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form_export">
                    <div class="mb-3">
                        <label for="locationBranch_export" class="form-label">Chi nhánh</label>
                        <input type="text" class="form-control" id="locationBranch_export" required>
                    </div>
                    <div class="mb-3">
                        <label for="productName_export" class="form-label">Tên sản phẩm</label>
                        <input type="text" class="form-control" id="productName_export" required>
                    </div>
                    <div class="mb-3">
                        <label for="batchNumber_export" class="form-label">Số lô</label>
                        <input type="text" class="form-control" id="batchNumber_export" required>
                    </div>
                    <div class="mb-3">
                        <label for="quantity_export" class="form-label">Số lượng</label>
                        <input type="number" class="form-control" id="quantity_export" required>
                    </div>
                    <div class="mb-3">
                        <label for="dateImport_export" class="form-label">Ngày nhập</label>
                        <input type="datetime-local" class="form-control" id="dateImport_export" required>
                    </div>
                    <div class="mb-3">
                        <label for="consignee_export" class="form-label">Người nhận</label>
                        <input type="text" class="form-control" id="consignee_export" readonly>
                    </div>
                    <button type="button" id="btn_export" class="btn btn-primary"></button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Promotion Modal-->
<div class="modal fade" id="modal_promotion" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_title_promotion"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form_promotion">
                    <div class="mb-3">
                        <label for="code" class="form-label">Mã Khuyến Mại</label>
                        <input type="text" class="form-control" id="code" required maxlength="10" placeholder="Nhập mã khuyến mại">
                    </div>
                    <div class="mb-3">
                        <label for="percentage" class="form-label">Tỷ lệ Giảm Giá (%)</label>
                        <input type="number" class="form-control" id="percentage" required min="0" max="100" placeholder="Nhập tỷ lệ giảm giá">
                    </div>
                    <div class="mb-3">
                        <label for="promotionType" class="form-label">Loại Khuyến Mại</label>
                        <select class="form-select" id="promotionType" required onchange="HandlePromotionTypeChange()">
                            <option value="1">Sản phẩm nhất định</option>
                            <option value="2">Phân loại nhất định</option>
                            <option value="3">Tất cả</option>
                            <option value="4">Giảm ship</option>
                        </select>
                    </div>

                    <div class="mb-3 d-none" id="apply_for_1_container">
                        <label for="apply_for_1_input" class="form-label">Áp dụng cho SẢN PHẨM NHẤT ĐỊNH</label>
                        <select id="product_select_promotion" class="form-select"></select>
                    </div>

                    <div class="mb-3 d-none" id="apply_for_2_container">
                        <label for="apply_for_2_input" class="form-label">Áp dụng cho PHÂN LOẠI NHẤT ĐỊNH</label>
                        <input type="number" class="form-control" id="apply_for_2_input" required placeholder="Nhập số lượng áp dụng">
                    </div>

                    <div class="mb-3 d-none" id="apply_for_3_container">
                        <label for="apply_for_3_input" class="form-label">Áp dụng cho TẤT CẢ</label>
                        <input type="number" class="form-control" id="apply_for_3_input" required placeholder="Nhập số lượng áp dụng">
                    </div>

                    <div class="mb-3 d-none" id="apply_for_4_container">
                        <label for="apply_for_4_input" class="form-label">Áp dụng cho SHIP</label>
                        <input type="number" class="form-control" id="apply_for_4_input" required placeholder="Nhập số lượng áp dụng">
                    </div>

                    <div class="mb-3">
                        <label for="minPrice" class="form-label">Giá Tối Thiểu</label>
                        <input type="number" class="form-control" id="minPrice" required placeholder="Nhập giá tối thiểu">
                    </div>
                    <div class="mb-3">
                        <label for="maxPrice" class="form-label">Giá Tối Đa</label>
                        <input type="number" class="form-control" id="maxPrice" required placeholder="Nhập giá tối đa">
                    </div>
                    <div class="mb-3">
                        <label for="initQuantity_promotion" class="form-label">Số Lượng Khởi Tạo</label>
                        <input type="number" class="form-control" id="initQuantity_promotion" required placeholder="Nhập số lượng khởi tạo">
                    </div>
                    <div class="mb-3">
                        <label for="remainingQuantity" class="form-label">Số Lượng Còn Lại</label>
                        <input type="number" class="form-control" id="remainingQuantity" required placeholder="Nhập số lượng còn lại">
                    </div>
@*                     <div class="mb-3">
                        <label for="timeUpdate" class="form-label">Thời Gian Cập Nhật</label>
                        <input type="datetime-local" class="form-control" id="timeUpdate" value="{{ DateTime.Now }}" required>
                    </div> *@
     @*                <div class="mb-3">
                        <label for="isActive" class="form-label">Kích Hoạt</label>
                        <input type="checkbox" class="form-check-input" id="isActive" checked>
                    </div> *@
                    <button type="button" id="btn_promotion" class="btn btn-primary"></button>
                </form>
            </div>
        </div>
    </div>
</div>
